## Manipulação de Dados Et0

In [1]:
# Importando os módulos
import csv
import pandas as pd
import matplotlib.pyplot as plt    
import numpy as np  
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [2]:
dados = pd.read_csv('Dados/Dataset.csv')

In [3]:
# Verificando o formato dos dados
dados.shape

(10367, 17)

In [4]:
# Verificando as primeiras linhas do dataset
dados

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
0,2015-02-24 22:00:00,13253.0,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,23.47200,23.34100,23.39763,99.99786,0.000000,0.000538,0.000298
1,2015-02-24 23:00:00,13254.0,600.7875,600.4396,0.000,23.472,23.260,99.998,99.998,0.137363,23.47200,23.26000,23.36350,99.99786,0.000000,0.000382,0.000299
2,2015-02-25 00:00:00,13255.0,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,23.37100,23.21200,23.29213,99.99786,0.002500,0.000382,0.000299
3,2015-02-25 01:00:00,13256.0,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,23.40200,23.29200,23.34686,99.99786,0.023333,0.000564,0.000297
4,2015-02-25 02:00:00,13257.0,601.1813,600.6227,0.000,23.350,23.212,99.998,99.998,0.203755,23.35000,23.21200,23.28190,99.99786,0.000000,0.000566,0.000300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10362,2016-10-19 07:00:00,23615.0,620.3572,599.7344,0.000,24.954,23.260,85.775,78.117,2295.128000,21.04261,20.69714,24.03117,82.42256,1.119167,6.375355,0.023606
10363,2016-10-19 08:00:00,23616.0,619.8627,599.7466,0.000,27.388,24.835,78.472,65.828,2914.724000,21.13052,20.18818,26.09203,72.45580,1.931736,8.096457,0.056306
10364,2016-10-19 09:00:00,23617.0,619.9329,599.7344,0.000,29.270,27.078,66.904,57.888,3410.409000,20.85625,20.01264,28.27324,62.41462,1.920209,9.473359,0.078555
10365,2016-10-19 10:00:00,23618.0,619.8840,599.7802,0.000,31.978,28.840,59.589,49.726,3977.311000,20.87022,19.44653,30.21831,54.65525,1.432778,11.048090,0.077010
10366,2016-10-19 11:00:00,23619.0,620.4030,599.7253,0.000,33.289,30.840,52.867,43.497,4460.519000,20.52118,18.96729,32.25749,47.55349,1.144931,12.390330,0.076337

In [5]:
dados['TIMESTAMP'] <= '2016-10-19'

0         True
1         True
2         True
3         True
4         True
         ...
10362    False
10363    False
10364    False
10365    False
10366    False
Name: TIMESTAMP, Length: 10367, dtype: bool

In [6]:
# Verificando se existem valores nulos
dados.isnull().values.any()

True

In [7]:
type(dados)

pandas.core.frame.DataFrame

In [8]:
dados

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
0,2015-02-24 22:00:00,13253.0,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,23.47200,23.34100,23.39763,99.99786,0.000000,0.000538,0.000298
1,2015-02-24 23:00:00,13254.0,600.7875,600.4396,0.000,23.472,23.260,99.998,99.998,0.137363,23.47200,23.26000,23.36350,99.99786,0.000000,0.000382,0.000299
2,2015-02-25 00:00:00,13255.0,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,23.37100,23.21200,23.29213,99.99786,0.002500,0.000382,0.000299
3,2015-02-25 01:00:00,13256.0,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,23.40200,23.29200,23.34686,99.99786,0.023333,0.000564,0.000297
4,2015-02-25 02:00:00,13257.0,601.1813,600.6227,0.000,23.350,23.212,99.998,99.998,0.203755,23.35000,23.21200,23.28190,99.99786,0.000000,0.000566,0.000300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10362,2016-10-19 07:00:00,23615.0,620.3572,599.7344,0.000,24.954,23.260,85.775,78.117,2295.128000,21.04261,20.69714,24.03117,82.42256,1.119167,6.375355,0.023606
10363,2016-10-19 08:00:00,23616.0,619.8627,599.7466,0.000,27.388,24.835,78.472,65.828,2914.724000,21.13052,20.18818,26.09203,72.45580,1.931736,8.096457,0.056306
10364,2016-10-19 09:00:00,23617.0,619.9329,599.7344,0.000,29.270,27.078,66.904,57.888,3410.409000,20.85625,20.01264,28.27324,62.41462,1.920209,9.473359,0.078555
10365,2016-10-19 10:00:00,23618.0,619.8840,599.7802,0.000,31.978,28.840,59.589,49.726,3977.311000,20.87022,19.44653,30.21831,54.65525,1.432778,11.048090,0.077010
10366,2016-10-19 11:00:00,23619.0,620.4030,599.7253,0.000,33.289,30.840,52.867,43.497,4460.519000,20.52118,18.96729,32.25749,47.55349,1.144931,12.390330,0.076337

In [9]:
dados_filtrados = dados[(dados['TIMESTAMP'] >= '2016-06-16') & (dados['TIMESTAMP'] <= '2016-10-19')]
dados_filtrados.shape

(3000, 17)

In [10]:
dados_filtrados

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
7355,2016-06-16 00:00:00,20608.0,600.6594,599.9939,0.0,24.703,24.124,86.426,82.296,1602.694,21.99709,21.34611,24.48126,84.18771,0.000000,4.451927,0.002190
7356,2016-06-16 01:00:00,20609.0,600.9829,600.2259,0.0,24.434,23.682,89.355,85.546,1585.170,22.29312,21.44312,23.96824,88.16695,0.000000,4.403249,0.002147
7357,2016-06-16 02:00:00,20610.0,600.6807,600.2900,0.0,23.884,22.529,93.378,88.430,1698.799,21.99075,21.14937,23.08900,91.31065,0.000000,4.718886,0.002250
7358,2016-06-16 03:00:00,20611.0,600.8853,600.2015,0.0,22.540,21.736,95.656,92.988,2056.785,21.44775,20.88272,22.14371,94.30690,0.000000,5.713292,0.002620
7359,2016-06-16 04:00:00,20612.0,600.9280,600.6990,0.0,22.158,21.235,96.186,94.537,2190.182,21.41695,20.61035,21.58857,95.49109,0.000000,6.083838,0.002748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10350,2016-10-18 19:00:00,23603.0,620.1130,599.7375,0.0,33.148,30.439,47.296,38.200,1880.722,18.00532,16.98772,31.68203,43.33237,2.512084,5.224227,0.111816
10351,2016-10-18 20:00:00,23604.0,620.0947,599.8138,0.0,30.400,28.490,56.494,47.222,1997.766,19.02091,17.91676,29.45607,51.51954,2.677292,5.549351,0.093924
10352,2016-10-18 21:00:00,23605.0,619.8962,599.7680,0.0,28.478,26.456,69.207,56.521,2044.382,20.39465,18.99879,27.40260,63.69593,2.684792,5.678839,0.066670
10353,2016-10-18 22:00:00,23606.0,620.3724,599.7711,0.0,26.456,25.666,74.726,69.207,2052.880,20.88747,20.35033,26.02629,72.33747,2.336876,5.702446,0.045204
10354,2016-10-18 23:00:00,23607.0,619.9176,599.7985,0.0,25.676,24.954,80.070,74.730,2033.496,21.31530,20.85798,25.29406,77.54187,1.570764,5.648600,0.028293

In [11]:
# Removendo os dados inconsistente de precipitação
dados_filtrados = dados_filtrados[dados_filtrados['Rain_mm_Tot'] <= 1]
dados_filtrados.shape

(2997, 17)

In [12]:
# Removendo os dados inconsistente velocidade do vento
dados_filtrados = dados_filtrados[dados_filtrados['WS_ms_Avg'] <=4]
dados_filtrados.shape

(2997, 17)

In [13]:
dados_filtrados['BP_mbar_Max'].max()

625.1313

In [14]:
# Removendo os dados inconsistente da Pressão atmosférica máxima
dados_filtrados = dados_filtrados[dados_filtrados['BP_mbar_Max'] <= 625.000]
dados_filtrados.shape

(2996, 17)

In [15]:
# Removendo os dados inconsistente da Radiação solar média
dados_filtrados = dados_filtrados[dados_filtrados['SlrkJ_Avg'] <= 25.4809]
dados_filtrados.shape

(2996, 17)

In [16]:
dados_filtrados['SlrkJ_Tot'].max()

7807.995

In [17]:
# Removendo os dados inconsistente da Radiação solar total
dados_filtrados = dados_filtrados[dados_filtrados['SlrkJ_Tot'] <= 6000000]
dados_filtrados.shape

(2996, 17)

In [18]:
dados_filtrados['TdC_Min'].max()

22.81481

In [19]:
# Removendo os dados inconsistente da Temperatura mínima
dados_filtrados = dados_filtrados[dados_filtrados['TdC_Min'] <= 23.4105]
dados_filtrados.shape

(2996, 17)

In [20]:
dados_filtrados['RH_Avg'].max()

99.10529

In [21]:
# Removendo os dados inconsistente da Umidade relativa média
dados_filtrados = dados_filtrados[dados_filtrados['RH_Avg'] <= 99.8006]
dados_filtrados.shape

(2996, 17)

In [22]:
dados_filtrados['TdC_Max'].max()

24.43459

In [23]:
# Removendo os dados inconsistente da Temperatura máxima
dados_filtrados = dados_filtrados[dados_filtrados['TdC_Max'] <= 24.8820]
dados_filtrados.shape

(2996, 17)

In [24]:
dados_filtrados['AirTC_Min'].max()

36.691

In [25]:
# Removendo os dados inconsistente da Temperatura do ar mínima
dados_filtrados = dados_filtrados[dados_filtrados['AirTC_Min'] >= 1]
dados_filtrados.shape

(2996, 17)

In [26]:
# Removendo os dados inconsistente da Temperatura do ar mínima
dados_filtrados = dados_filtrados[dados_filtrados['AirTC_Min'] <= 36.692]
dados_filtrados.shape

(2996, 17)

In [27]:
dados_filtrados['AirTC_Max'].max()

23993.0

In [28]:
# Removendo os dados inconsistente da Temperatura do ar maxima
dados_filtrados = dados_filtrados[dados_filtrados['AirTC_Max'] >= 1
                                ]

In [29]:
#Nenhum dado removido
dados_filtrados.shape

(2996, 17)

In [30]:
# Removendo os dados inconsistente da Temperatura do ar maxima
dados_filtrados = dados_filtrados[dados_filtrados['AirTC_Max'] <= 37.965]

In [31]:
dados_filtrados.shape

(2995, 17)

In [32]:
dados_filtrados['RH_Min'].min()

6.96

In [33]:
# Removendo os dados inconsistente da Umidade relativa mínima
dados_filtrados = dados_filtrados[dados_filtrados['RH_Min'] <= 87.062]

In [34]:
dados_filtrados.shape

(2682, 17)

In [35]:
dados_filtrados['RH_Max'].max()

98.13600000000001

In [36]:
# Removendo os dados inconsistente da Umidade relativa maxima
dados_filtrados = dados_filtrados[dados_filtrados['RH_Max'] <= 95.5]

In [37]:
# Fim da remoçaõ dos dados iconsitente
dados_filtrados.shape

(2674, 17)

In [38]:
dados_filtrados

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
7355,2016-06-16 00:00:00,20608.0,600.6594,599.9939,0.0,24.703,24.124,86.426,82.296,1602.694,21.99709,21.34611,24.48126,84.18771,0.000000,4.451927,0.002190
7356,2016-06-16 01:00:00,20609.0,600.9829,600.2259,0.0,24.434,23.682,89.355,85.546,1585.170,22.29312,21.44312,23.96824,88.16695,0.000000,4.403249,0.002147
7364,2016-06-16 09:00:00,20617.0,620.2503,599.8565,0.0,28.380,26.456,79.804,66.886,6394.357,23.18920,21.28450,27.33409,73.79070,0.602569,17.762100,0.030328
7365,2016-06-16 10:00:00,20618.0,620.2747,599.7650,0.0,29.859,27.208,70.023,59.288,3865.619,22.37438,20.18821,28.55962,64.01627,1.931596,10.737830,0.077176
7366,2016-06-16 11:00:00,20619.0,619.9084,599.7802,0.0,30.388,27.820,64.503,55.519,3447.535,21.63211,20.03454,29.31881,59.57275,1.277708,9.576488,0.061455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10350,2016-10-18 19:00:00,23603.0,620.1130,599.7375,0.0,33.148,30.439,47.296,38.200,1880.722,18.00532,16.98772,31.68203,43.33237,2.512084,5.224227,0.111816
10351,2016-10-18 20:00:00,23604.0,620.0947,599.8138,0.0,30.400,28.490,56.494,47.222,1997.766,19.02091,17.91676,29.45607,51.51954,2.677292,5.549351,0.093924
10352,2016-10-18 21:00:00,23605.0,619.8962,599.7680,0.0,28.478,26.456,69.207,56.521,2044.382,20.39465,18.99879,27.40260,63.69593,2.684792,5.678839,0.066670
10353,2016-10-18 22:00:00,23606.0,620.3724,599.7711,0.0,26.456,25.666,74.726,69.207,2052.880,20.88747,20.35033,26.02629,72.33747,2.336876,5.702446,0.045204
10354,2016-10-18 23:00:00,23607.0,619.9176,599.7985,0.0,25.676,24.954,80.070,74.730,2033.496,21.31530,20.85798,25.29406,77.54187,1.570764,5.648600,0.028293

In [97]:
dados_filtrados=dados_filtrados.drop(columns=['TIMESTAMP'])
dados_filtrados.head()

,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
7355,20608.0,600.6594,599.9939,0.0,24.703,24.124,86.426,82.296,1602.694,21.99709,21.34611,24.48126,84.18771,0.000000,4.451927,0.002190
7356,20609.0,600.9829,600.2259,0.0,24.434,23.682,89.355,85.546,1585.170,22.29312,21.44312,23.96824,88.16695,0.000000,4.403249,0.002147
7364,20617.0,620.2503,599.8565,0.0,28.380,26.456,79.804,66.886,6394.357,23.18920,21.28450,27.33409,73.79070,0.602569,17.762100,0.030328
7365,20618.0,620.2747,599.7650,0.0,29.859,27.208,70.023,59.288,3865.619,22.37438,20.18821,28.55962,64.01627,1.931596,10.737830,0.077176
7366,20619.0,619.9084,599.7802,0.0,30.388,27.820,64.503,55.519,3447.535,21.63211,20.03454,29.31881,59.57275,1.277708,9.576488,0.061455

In [98]:
dados_filtrados.set_index('RECORD')

,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
RECORD,,,,,,,,,,,,,,,
20608.0,600.6594,599.9939,0.0,24.703,24.124,86.426,82.296,1602.694,21.99709,21.34611,24.48126,84.18771,0.000000,4.451927,0.002190
20609.0,600.9829,600.2259,0.0,24.434,23.682,89.355,85.546,1585.170,22.29312,21.44312,23.96824,88.16695,0.000000,4.403249,0.002147
20617.0,620.2503,599.8565,0.0,28.380,26.456,79.804,66.886,6394.357,23.18920,21.28450,27.33409,73.79070,0.602569,17.762100,0.030328
20618.0,620.2747,599.7650,0.0,29.859,27.208,70.023,59.288,3865.619,22.37438,20.18821,28.55962,64.01627,1.931596,10.737830,0.077176
20619.0,619.9084,599.7802,0.0,30.388,27.820,64.503,55.519,3447.535,21.63211,20.03454,29.31881,59.57275,1.277708,9.576488,0.061455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23603.0,620.1130,599.7375,0.0,33.148,30.439,47.296,38.200,1880.722,18.00532,16.98772,31.68203,43.33237,2.512084,5.224227,0.111816
23604.0,620.0947,599.8138,0.0,30.400,28.490,56.494,47.222,1997.766,19.02091,17.91676,29.45607,51.51954,2.677292,5.549351,0.093924
23605.0,619.8962,599.7680,0.0,28.478,26.456,69.207,56.521,2044.382,20.39465,18.99879,27.40260,63.69593,2.684792,5.678839,0.066670
23606.0,620.3724,599.7711,0.0,26.456,25.666,74.726,69.207,2052.880,20.88747,20.35033,26.02629,72.33747,2.336876,5.702446,0.045204
23607.0,619.9176,599.7985,0.0,25.676,24.954,80.070,74.730,2033.496,21.31530,20.85798,25.29406,77.54187,1.570764,5.648600,0.028293

In [125]:
dados_filtrados.iloc[0:1871]

,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
7355,20608.0,600.6594,599.9939,0.0,24.703,24.124,86.426,82.296,1602.694,21.99709,21.34611,24.48126,84.18771,0.000000,4.451927,0.002190
7356,20609.0,600.9829,600.2259,0.0,24.434,23.682,89.355,85.546,1585.170,22.29312,21.44312,23.96824,88.16695,0.000000,4.403249,0.002147
7364,20617.0,620.2503,599.8565,0.0,28.380,26.456,79.804,66.886,6394.357,23.18920,21.28450,27.33409,73.79070,0.602569,17.762100,0.030328
7365,20618.0,620.2747,599.7650,0.0,29.859,27.208,70.023,59.288,3865.619,22.37438,20.18821,28.55962,64.01627,1.931596,10.737830,0.077176
7366,20619.0,619.9084,599.7802,0.0,30.388,27.820,64.503,55.519,3447.535,21.63211,20.03454,29.31881,59.57275,1.277708,9.576488,0.061455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9502,22755.0,620.0916,599.8412,0.0,32.080,29.220,52.089,41.914,4684.699,18.87750,17.03991,30.79457,45.75415,1.774653,13.013050,0.110666
9503,22756.0,620.0610,599.8046,0.0,33.657,31.589,44.263,37.646,4823.609,18.61317,16.92609,32.51756,40.96473,2.201876,13.398910,0.147672
9504,22757.0,620.0671,599.8412,0.0,34.505,32.718,41.928,35.621,4835.614,19.08032,16.49227,33.69122,37.97228,1.689653,13.432260,0.126232
9505,22758.0,620.0916,599.8535,0.0,36.322,33.577,38.511,30.474,4582.778,18.62278,15.89391,34.72993,34.45431,1.762639,12.729940,0.139298
9506,22759.0,600.9493,599.8168,0.0,36.520,34.416,35.613,28.540,4015.010,17.84655,15.28691,35.62963,31.10682,1.985555,11.152810,0.162550

In [126]:
X = dados_filtrados.iloc[0:1871]
Y = dados_filtrados.iloc[1871:2674]

In [119]:
X

,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
7355,20608.0,600.6594,599.9939,0.0,24.703,24.124,86.426,82.296,1602.694,21.99709,21.34611,24.48126,84.18771,0.000000,4.451927,0.002190
7356,20609.0,600.9829,600.2259,0.0,24.434,23.682,89.355,85.546,1585.170,22.29312,21.44312,23.96824,88.16695,0.000000,4.403249,0.002147
7364,20617.0,620.2503,599.8565,0.0,28.380,26.456,79.804,66.886,6394.357,23.18920,21.28450,27.33409,73.79070,0.602569,17.762100,0.030328
7365,20618.0,620.2747,599.7650,0.0,29.859,27.208,70.023,59.288,3865.619,22.37438,20.18821,28.55962,64.01627,1.931596,10.737830,0.077176
7366,20619.0,619.9084,599.7802,0.0,30.388,27.820,64.503,55.519,3447.535,21.63211,20.03454,29.31881,59.57275,1.277708,9.576488,0.061455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9502,22755.0,620.0916,599.8412,0.0,32.080,29.220,52.089,41.914,4684.699,18.87750,17.03991,30.79457,45.75415,1.774653,13.013050,0.110666
9503,22756.0,620.0610,599.8046,0.0,33.657,31.589,44.263,37.646,4823.609,18.61317,16.92609,32.51756,40.96473,2.201876,13.398910,0.147672
9504,22757.0,620.0671,599.8412,0.0,34.505,32.718,41.928,35.621,4835.614,19.08032,16.49227,33.69122,37.97228,1.689653,13.432260,0.126232
9505,22758.0,620.0916,599.8535,0.0,36.322,33.577,38.511,30.474,4582.778,18.62278,15.89391,34.72993,34.45431,1.762639,12.729940,0.139298
9506,22759.0,600.9493,599.8168,0.0,36.520,34.416,35.613,28.540,4015.010,17.84655,15.28691,35.62963,31.10682,1.985555,11.152810,0.162550

In [120]:
Y

,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
9507,22760.0,620.0671,599.8626,0.0,37.388,35.414,31.979,26.415,3324.475,16.72554,14.69232,36.48171,28.75036,1.357778,9.234652,0.120624
9508,22761.0,620.1038,599.8901,0.0,36.990,34.953,29.195,26.234,2644.291,15.52959,13.57174,36.08495,27.70147,1.083681,7.345253,0.098321
9509,22762.0,600.9677,599.7863,0.0,35.534,33.876,30.214,27.734,2069.211,14.91382,13.78623,34.95567,28.74413,0.470417,5.747808,0.045249
9510,22763.0,620.0916,599.7802,0.0,34.015,29.701,55.212,29.596,2009.777,19.77691,13.73987,32.56829,35.05788,0.799306,5.582714,0.055197
9511,22764.0,620.4518,599.8443,0.0,29.689,27.290,65.789,55.205,2042.808,20.42850,19.72756,28.27407,61.76138,2.465555,5.674466,0.068376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10350,23603.0,620.1130,599.7375,0.0,33.148,30.439,47.296,38.200,1880.722,18.00532,16.98772,31.68203,43.33237,2.512084,5.224227,0.111816
10351,23604.0,620.0947,599.8138,0.0,30.400,28.490,56.494,47.222,1997.766,19.02091,17.91676,29.45607,51.51954,2.677292,5.549351,0.093924
10352,23605.0,619.8962,599.7680,0.0,28.478,26.456,69.207,56.521,2044.382,20.39465,18.99879,27.40260,63.69593,2.684792,5.678839,0.066670
10353,23606.0,620.3724,599.7711,0.0,26.456,25.666,74.726,69.207,2052.880,20.88747,20.35033,26.02629,72.33747,2.336876,5.702446,0.045204
10354,23607.0,619.9176,599.7985,0.0,25.676,24.954,80.070,74.730,2033.496,21.31530,20.85798,25.29406,77.54187,1.570764,5.648600,0.028293

In [121]:
# Criando o modelo
modelo = LinearRegression()

In [122]:
type(modelo)

sklearn.linear_model.base.LinearRegression

In [123]:
# Treinando o modelo
modelo.fit(X, Y)

ValueError: Found input variables with inconsistent numbers of samples: [1871, 803]