In [1]:
# Importando os módulos
import csv
import pandas as pd
import numpy as np  
import statistics
from statistics import median

# Importação dos dados

In [2]:
df_data = pd.read_csv('../dados/datasetteste.csv')
df_data.head()

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
0,2015-02-24 22:00:00,13253,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,23.472,23.341,23.39763,99.99786,0.000000,0.000538,0.0002984148
1,2015-02-24 23:00:00,13254,600.7875,600.4396,0.000,23.472,23.26,99.998,99.998,0.137363,23.472,23.260,23.3635,99.99786,0.000000,0.000382,0.0002987745
2,2015-02-25 00:00:00,13255,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,23.371,23.212,23.29213,99.99786,0.002500,0.000382,0.0002994588
3,2015-02-25 01:00:00,13256,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,23.402,23.292,23.34686,99.99786,0.023333,0.000564,0.0002972446
4,2015-02-25 02:00:00,13257,601.1813,600.6227,0.000,23.35,23.212,99.998,99.998,0.203755,23.350,23.212,23.2819,99.99786,0.000000,0.000566,0.0002998548

In [3]:
df_data_sample = df_data

In [4]:
df_data_sample

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
0,2015-02-24 22:00:00,13253,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,23.47200,23.34100,23.39763,99.99786,0.000000,0.000538,0.0002984148
1,2015-02-24 23:00:00,13254,600.7875,600.4396,0.000,23.472,23.26,99.998,99.998,0.137363,23.47200,23.26000,23.3635,99.99786,0.000000,0.000382,0.0002987745
2,2015-02-25 00:00:00,13255,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,23.37100,23.21200,23.29213,99.99786,0.002500,0.000382,0.0002994588
3,2015-02-25 01:00:00,13256,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,23.40200,23.29200,23.34686,99.99786,0.023333,0.000564,0.0002972446
4,2015-02-25 02:00:00,13257,601.1813,600.6227,0.000,23.35,23.212,99.998,99.998,0.203755,23.35000,23.21200,23.2819,99.99786,0.000000,0.000566,0.0002998548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10362,2016-10-19 07:00:00,23615,620.3572,599.7344,0.000,24.954,23.26,85.775,78.117,2295.128000,21.04261,20.69714,24.03117,82.42256,1.119167,6.375355,0.02360554
10363,2016-10-19 08:00:00,23616,619.8627,599.7466,0.000,27.388,24.835,78.472,65.828,2914.724000,21.13052,20.18818,26.09203,72.45580,1.931736,8.096457,0.05630609
10364,2016-10-19 09:00:00,23617,619.9329,599.7344,0.000,29.27,27.078,66.904,57.888,3410.409000,20.85625,20.01264,28.27324,62.41462,1.920209,9.473359,0.07855541
10365,2016-10-19 10:00:00,23618,619.8840,599.7802,0.000,31.978,28.84,59.589,49.726,3977.311000,20.87022,19.44653,30.21831,54.65525,1.432778,11.048090,0.07700983
10366,2016-10-19 11:00:00,23619,620.4030,599.7253,0.000,33.289,30.84,52.867,43.497,4460.519000,20.52118,18.96729,32.25749,47.55349,1.144931,12.390330,0.07633698

# Criação de novas colunas

In [5]:
time_slot = 6

In [6]:
columns = df_data_sample.columns.tolist()

columns.remove('TIMESTAMP')
columns.remove('RECORD')
columns.remove('Eto')

In [7]:
df_data_sample

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
0,2015-02-24 22:00:00,13253,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,23.47200,23.34100,23.39763,99.99786,0.000000,0.000538,0.0002984148
1,2015-02-24 23:00:00,13254,600.7875,600.4396,0.000,23.472,23.26,99.998,99.998,0.137363,23.47200,23.26000,23.3635,99.99786,0.000000,0.000382,0.0002987745
2,2015-02-25 00:00:00,13255,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,23.37100,23.21200,23.29213,99.99786,0.002500,0.000382,0.0002994588
3,2015-02-25 01:00:00,13256,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,23.40200,23.29200,23.34686,99.99786,0.023333,0.000564,0.0002972446
4,2015-02-25 02:00:00,13257,601.1813,600.6227,0.000,23.35,23.212,99.998,99.998,0.203755,23.35000,23.21200,23.2819,99.99786,0.000000,0.000566,0.0002998548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10362,2016-10-19 07:00:00,23615,620.3572,599.7344,0.000,24.954,23.26,85.775,78.117,2295.128000,21.04261,20.69714,24.03117,82.42256,1.119167,6.375355,0.02360554
10363,2016-10-19 08:00:00,23616,619.8627,599.7466,0.000,27.388,24.835,78.472,65.828,2914.724000,21.13052,20.18818,26.09203,72.45580,1.931736,8.096457,0.05630609
10364,2016-10-19 09:00:00,23617,619.9329,599.7344,0.000,29.27,27.078,66.904,57.888,3410.409000,20.85625,20.01264,28.27324,62.41462,1.920209,9.473359,0.07855541
10365,2016-10-19 10:00:00,23618,619.8840,599.7802,0.000,31.978,28.84,59.589,49.726,3977.311000,20.87022,19.44653,30.21831,54.65525,1.432778,11.048090,0.07700983
10366,2016-10-19 11:00:00,23619,620.4030,599.7253,0.000,33.289,30.84,52.867,43.497,4460.519000,20.52118,18.96729,32.25749,47.55349,1.144931,12.390330,0.07633698

In [8]:
for column in columns:

    # soma
    df_data_sample[column + '_sum'] = 0
    # desvio padrão
    df_data_sample[column + '_std'] = 0
    # mínimo
    df_data_sample[column + '_min'] = 0
    # máximo
    df_data_sample[column + '_max'] = 0
    # média
    df_data_sample[column + '_avg'] = 0
    
    for line in range(time_slot, df_data_sample.shape[0]):
        values = []
        for i in range(1, time_slot+1):
            values.append(float(df_data_sample.loc[line-i, column]))

        df_data_sample.loc[line, str(column + '_sum')] = sum(values)
        df_data_sample.loc[line, str(column + '_std')] = statistics.stdev(values)
        df_data_sample.loc[line, str(column + '_min')] = min(values)
        df_data_sample.loc[line, str(column + '_max')] = max(values)
        df_data_sample.loc[line, str(column + '_avg')] = sum(values)/len(values)

In [9]:
df_data_sample

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,...,WS_ms_Avg_sum,WS_ms_Avg_std,WS_ms_Avg_min,WS_ms_Avg_max,WS_ms_Avg_avg,SlrkJ_Avg_sum,SlrkJ_Avg_std,SlrkJ_Avg_min,SlrkJ_Avg_max,SlrkJ_Avg_avg
0,2015-02-24 22:00:00,13253,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2015-02-24 23:00:00,13254,600.7875,600.4396,0.000,23.472,23.26,99.998,99.998,0.137363,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2015-02-25 00:00:00,13255,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,2015-02-25 01:00:00,13256,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2015-02-25 02:00:00,13257,601.1813,600.6227,0.000,23.35,23.212,99.998,99.998,0.203755,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10362,2016-10-19 07:00:00,23615,620.3572,599.7344,0.000,24.954,23.26,85.775,78.117,2295.128000,...,10.038195,0.341089,1.120417,2.108264,1.673033,32.577387,0.160571,5.212336,5.616478,5.429565
10363,2016-10-19 08:00:00,23616,619.8627,599.7466,0.000,27.388,24.835,78.472,65.828,2914.724000,...,9.253959,0.382857,1.119167,2.108264,1.542326,33.339812,0.422594,5.212336,6.375355,5.556635
10364,2016-10-19 09:00:00,23617,619.9329,599.7344,0.000,29.27,27.078,66.904,57.888,3410.409000,...,10.065278,0.345492,1.119167,2.108264,1.677546,36.013344,1.107651,5.212336,8.096457,6.002224
10365,2016-10-19 10:00:00,23618,619.8840,599.7802,0.000,31.978,28.84,59.589,49.726,3977.311000,...,10.303126,0.359516,1.119167,2.108264,1.717188,40.095666,1.733904,5.212336,9.473359,6.682611
10366,2016-10-19 11:00:00,23619,620.4030,599.7253,0.000,33.289,30.84,52.867,43.497,4460.519000,...,9.627640,0.315645,1.119167,1.931736,1.604607,45.527278,2.367945,5.212336,11.048090,7.587880

# Predição do ET0

In [11]:
import math

train_percentage = 0.7
linha_fim_treino = math.floor(train_percentage * df_data_sample.shape[0])
linha_fim_teste = df_data_sample.shape[0]
df_data_sample.iloc[0:linha_fim_treino].to_csv('../dados/ttrain.csv')
df_data_sample.iloc[linha_fim_treino:linha_fim_teste].to_csv('../dados/ttest.csv')

In [12]:
import h2o
from h2o.automl import H2OAutoML

h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.7" 2020-04-14; OpenJDK Runtime Environment (build 11.0.7+10-post-Ubuntu-2ubuntu218.04); OpenJDK 64-Bit Server VM (build 11.0.7+10-post-Ubuntu-2ubuntu218.04, mixed mode, sharing)
  Starting server from /home/naelia/anaconda3/envs/pibic/lib/python3.6/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmprya1bnwz
  JVM stdout: /tmp/tmprya1bnwz/h2o_naelia_started_from_python.out
  JVM stderr: /tmp/tmprya1bnwz/h2o_naelia_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         02 secs
H2O cluster timezone:       America/Fortaleza
H2O data parsing timezone:  UTC
H2O cluster version:        3.28.1.2
H2O cluster version age:    2 months and 12 days
H2O cluster name:           H2O_from_python_naelia_6ledre
H2O cluster total nodes:    1
H2O cluster free memory:    942 Mb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.6.10 final
--------------------------  ------------------------------------------------------------------

In [13]:
# Import a sample binary outcome train/test set into H2O
train = h2o.import_file("../dados/ttrain.csv")
test = h2o.import_file("../dados/ttest.csv")

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [14]:
x = train.columns
y = "Eto"
x.remove(y)

In [15]:
aml = H2OAutoML(max_models=20, seed=1)
aml.train(x=x, y=y, training_frame=train)

AutoML progress: |
15:52:20.57: XGBoost_1_AutoML_20200529_155217 [XGBoost def_1] failed: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for XGBoost model: XGBoost_1_AutoML_20200529_155217_cv_1.  Details: ERRR on field: _response_column: Response contains missing values (NAs) - not supported by XGBoost.


█
15:52:21.68: XGBoost_2_AutoML_20200529_155217 [XGBoost def_2] failed: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for XGBoost model: XGBoost_2_AutoML_20200529_155217_cv_1.  Details: ERRR on field: _response_column: Response contains missing values (NAs) - not supported by XGBoost.



15:52:22.80: XGBoost_3_AutoML_20200529_155217 [XGBoost def_3] failed: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for XGBoost model: XGBoost_3_AutoML_20200529_155217_cv_1.  Details: ERRR on field: _response_column: Response contains missing values (NAs) - not supported by XGBoost.


███████████████████████████████████████████████████████| 100%

In [16]:
# View the AutoML Leaderboard
lb = aml.leaderboard
lb.head(rows=lb.nrows)  # Print all rows instead of default (10 rows)

model_id,mean_residual_deviance,rmse,mse,mae,rmsle
StackedEnsemble_BestOfFamily_AutoML_20200529_155217,7.04022e-06,0.00265334,7.04022e-06,0.00119293,0.0023831
StackedEnsemble_AllModels_AutoML_20200529_155217,7.11779e-06,0.00266792,7.11779e-06,0.00119531,0.00239605
GBM_4_AutoML_20200529_155217,7.12617e-06,0.00266949,7.12617e-06,0.00119655,0.00239618
GBM_grid__1_AutoML_20200529_155217_model_2,7.27255e-06,0.00269677,7.27255e-06,0.00110064,0.00243048
GBM_3_AutoML_20200529_155217,8.28693e-06,0.0028787,8.28693e-06,0.00129839,0.00259071
GBM_1_AutoML_20200529_155217,8.3618e-06,0.00289168,8.3618e-06,0.00142499,0.00259664
GBM_2_AutoML_20200529_155217,8.89735e-06,0.00298284,8.89735e-06,0.00137091,0.00268509
GBM_grid__1_AutoML_20200529_155217_model_4,1.33198e-05,0.00364963,1.33198e-05,0.00180363,0.00327914
GBM_5_AutoML_20200529_155217,1.57284e-05,0.00396591,1.57284e-05,0.00190424,0.00354439
DeepLearning_grid__3_AutoML_20200529_155217_model_2,1.57726e-05,0.00397147,1.57726e-05,0.00223465,0.00359934
XRT_1_AutoML_20200529_155217,1.89114e-05,0.00434872,1.89114e-05,0.00202281,0.00386872
DRF_1_AutoML_20200529_155217,1.96304e-05,0.00443062,1.96304e-05,0.00204007,0.00393169
GBM_grid__1_AutoML_20200529_155217_model_3,2.74093e-05,0.00523539,2.74093e-05,0.00262425,0.00467198
GBM_grid__1_AutoML_20200529_155217_model_5,4.45013e-05,0.00667093,4.45013e-05,0.00421565,0.00586376
GBM_grid__1_AutoML_20200529_155217_model_6,5.62437e-05,0.00749958,5.62437e-05,0.00393452,0.00660331
DeepLearning_grid__1_AutoML_20200529_155217_model_2,0.000372407,0.0192978,0.000372407,0.00668938,nan
DeepLearning_grid__2_AutoML_20200529_155217_model_2,0.00618309,0.0786326,0.00618309,0.0038656,0.0248189
DeepLearning_grid__3_AutoML_20200529_155217_model_1,0.0153605,0.123938,0.0153605,0.0125907,0.0321987
DeepLearning_1_AutoML_20200529_155217,0.0206442,0.143681,0.0206442,0.00682487,nan
DeepLearning_grid__2_AutoML_20200529_155217_model_1,0.0216636,0.147186,0.0216636,0.0105147,0.033703
GLM_1_AutoML_20200529_155217,0.0493939,0.222247,0.0493939,0.0330319,0.0515171
DeepLearning_grid__1_AutoML_20200529_155217_model_1,0.0731026,0.270375,0.0731026,0.0135522,0.0428515

In [17]:
# The leader model is stored here
aml.leader

Model Details
=============
H2OStackedEnsembleEstimator :  Stacked Ensemble
Model Key:  StackedEnsemble_BestOfFamily_AutoML_20200529_155217

No model summary for this model

ModelMetricsRegressionGLM: stackedensemble
** Reported on train data. **

MSE: 4.877540201623343e-07
RMSE: 0.0006983938861146583
MAE: 0.0003228286285897871
RMSLE: 0.0006414206441333767
R^2: 0.9999048740168764
Mean Residual Deviance: 4.877540201623343e-07
Null degrees of freedom: 7102
Residual degrees of freedom: 7100
Null deviance: 36.42029960114158
Residual deviance: 0.0034645168052130607
AIC: -83065.68732918162

ModelMetricsRegressionGLM: stackedensemble
** Reported on cross-validation data. **

MSE: 7.040224308913569e-06
RMSE: 0.0026533421017489564
MAE: 0.001192930319358186
RMSLE: 0.0023831028592750303
R^2: 0.9986269549176183
Mean Residual Deviance: 7.040224308913569e-06
Null degrees of freedom: 7102
Residual degrees of freedom: 7100
Null deviance: 36.43827661438972
Residual deviance: 0.05000671326621308
AIC: -64103.63154517943