In [1]:
# Importando os módulos
import csv
import pandas as pd
import numpy as np  
import statistics
from statistics import median

# Importação dos dados

In [2]:
df_data = pd.read_csv('../dados/datasetteste.csv')
df_data.head()

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,TdC_Max,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto
0,2015-02-24 22:00:00,13253,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,23.472,23.341,23.39763,99.99786,0.000000,0.000538,0.0002984148
1,2015-02-24 23:00:00,13254,600.7875,600.4396,0.000,23.472,23.26,99.998,99.998,0.137363,23.472,23.260,23.3635,99.99786,0.000000,0.000382,0.0002987745
2,2015-02-25 00:00:00,13255,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,23.371,23.212,23.29213,99.99786,0.002500,0.000382,0.0002994588
3,2015-02-25 01:00:00,13256,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,23.402,23.292,23.34686,99.99786,0.023333,0.000564,0.0002972446
4,2015-02-25 02:00:00,13257,601.1813,600.6227,0.000,23.35,23.212,99.998,99.998,0.203755,23.350,23.212,23.2819,99.99786,0.000000,0.000566,0.0002998548

In [3]:
df_data = df_data.loc[0:20]

In [4]:
df_data.shape[0]

21

In [5]:
df_data['Rain_mm_min']= 0

In [6]:
df_data['Rain_mm_max']= 0

In [7]:
df_data['Rain_mm_med']= 0

In [8]:
df_data['Rain_mm_dp']= 0

In [9]:
df_data['AirTC_Max'] = df_data['AirTC_Max'].astype(np.float64)
df_data['AirTC_Min'] = df_data['AirTC_Min'].astype(np.float64)
df_data['AirTC_Avg'] = df_data['AirTC_Avg'].astype(np.float64)
df_data['Eto'] = df_data['Eto'].astype(np.float64)
df_data['Rain_mm_max'] = df_data['Rain_mm_max'].astype(np.float64)
df_data['Rain_mm_min'] = df_data['Rain_mm_min'].astype(np.float64)
df_data['Rain_mm_dp'] = df_data['Rain_mm_dp'].astype(np.float64)
df_data['Rain_mm_med'] = df_data['Rain_mm_med'].astype(np.float64)
df_data.dtypes

TIMESTAMP       object
RECORD           int64
BP_mbar_Max    float64
BP_mbar_Min    float64
Rain_mm_Tot    float64
AirTC_Max      float64
AirTC_Min      float64
RH_Max         float64
RH_Min         float64
SlrkJ_Tot      float64
TdC_Max        float64
TdC_Min        float64
AirTC_Avg      float64
RH_Avg         float64
WS_ms_Avg      float64
SlrkJ_Avg      float64
Eto            float64
Rain_mm_min    float64
Rain_mm_max    float64
Rain_mm_med    float64
Rain_mm_dp     float64
dtype: object

In [10]:
df_data

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,...,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto,Rain_mm_min,Rain_mm_max,Rain_mm_med,Rain_mm_dp
0,2015-02-24 22:00:00,13253,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,...,23.34100,23.39763,99.99786,0.000000,0.000538,0.000298,0.0,0.0,0.0,0.0
1,2015-02-24 23:00:00,13254,600.7875,600.4396,0.000,23.472,23.260,99.998,99.998,0.137363,...,23.26000,23.36350,99.99786,0.000000,0.000382,0.000299,0.0,0.0,0.0,0.0
2,2015-02-25 00:00:00,13255,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,...,23.21200,23.29213,99.99786,0.002500,0.000382,0.000299,0.0,0.0,0.0,0.0
3,2015-02-25 01:00:00,13256,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,...,23.29200,23.34686,99.99786,0.023333,0.000564,0.000297,0.0,0.0,0.0,0.0
4,2015-02-25 02:00:00,13257,601.1813,600.6227,0.000,23.350,23.212,99.998,99.998,0.203755,...,23.21200,23.28190,99.99786,0.000000,0.000566,0.000300,0.0,0.0,0.0,0.0
5,2015-02-25 03:00:00,13258,601.2881,600.5769,0.000,23.312,23.222,99.998,99.998,0.114469,...,23.22200,23.26650,99.99786,0.102014,0.000318,0.000292,0.0,0.0,0.0,0.0
6,2015-02-25 04:00:00,13259,601.3248,600.6349,0.000,23.392,23.251,99.998,99.998,0.191545,...,23.25100,23.31461,99.99786,0.229097,0.000532,0.000283,0.0,0.0,0.0,0.0
7,2015-02-25 05:00:00,13260,601.3004,600.4945,0.000,23.402,23.191,99.998,99.998,0.206807,...,23.19100,23.31653,99.99786,0.335347,0.000574,0.000275,0.0,0.0,0.0,0.0
8,2015-02-25 06:00:00,13261,601.2241,600.4152,0.000,23.232,23.050,99.998,99.998,0.235806,...,23.05000,23.16971,99.99786,0.388333,0.000655,0.000273,0.0,0.0,0.0,0.0
9,2015-02-25 07:00:00,13262,601.6545,600.2869,0.000,23.441,23.010,99.998,99.998,85.739530,...,23.01000,23.15646,99.99786,0.704306,0.238165,0.000685,0.0,0.0,0.0,0.0
10,2015-02-25 08:00:00,13263,601.5568,600.2289,0.254,23.993,23.392,99.998,99.998,303.170000,...,23.39200,23.71913,99.99786,1.300486,0.842139,0.001063,0.0,0.0,0.0,0.0
11,2015-02-25 09:00:00,13264,601.8865,600.0671,13.208,23.944,23.572,99.998,99.998,221.811700,...,23.57200,23.71177,99.99786,1.772639,0.616144,0.000885,0.0,0.0,0.0,0.0
12,2015-02-25 10:00:00,13265,601.9139,599.9939,9.652,23.752,23.110,99.998,99.998,183.775400,...,23.11000,23.28486,99.99786,1.736111,0.510487,0.000822,0.0,0.0,0.0,0.0
13,2015-02-25 11:00:00,13266,601.8987,599.9908,2.540,23.993,23.171,99.998,99.908,602.703500,...,23.17100,23.65298,99.99687,2.024375,1.674176,0.001563,0.0,0.0,0.0,0.0
14,2015-02-25 12:00:00,13267,602.0482,600.1282,1.270,24.102,23.612,99.998,99.394,526.725900,...,23.61200,23.78568,99.94318,2.016874,1.463127,0.001523,0.0,0.0,0.0,0.0
15,2015-02-25 13:00:00,13268,602.3993,599.9939,0.000,25.716,24.093,99.998,91.750,1279.542000,...,23.98961,24.80779,96.96364,1.803680,3.554284,0.007919,0.0,0.0,0.0,0.0
16,2015-02-25 14:00:00,13269,602.6557,600.0183,0.000,27.200,25.656,93.246,85.375,1793.748000,...,24.19531,26.63342,88.38380,2.552917,4.982635,0.031169,0.0,0.0,0.0,0.0
17,2015-02-25 15:00:00,13270,602.5946,600.0366,0.000,27.900,26.558,88.886,80.894,1741.875000,...,23.52775,27.02860,84.34338,2.568334,4.838542,0.041150,0.0,0.0,0.0,0.0
18,2015-02-25 16:00:00,13271,602.7503,600.1313,0.000,27.490,26.726,87.222,80.832,1364.721000,...,23.65620,27.04526,83.77991,2.654375,3.790890,0.042923,0.0,0.0,0.0,0.0
19,2015-02-25 17:00:00,13272,602.2192,600.0824,0.000,27.107,26.546,86.390,82.689,482.410100,...,23.66985,26.74020,84.67317,2.124513,1.340028,0.032225,0.0,0.0,0.0,0.0
20,2015-02-25 18:00:00,13273,601.7888,600.0336,0.000,26.867,25.917,88.234,83.947,262.873300,...,23.64466,26.55503,85.84172,1.355972,0.730204,0.019892,0.0,0.0,0.0,0.0

In [11]:
for x in range(3,df_data.shape[0]): 
    lista = [df_data.iloc[x-1,4],df_data.iloc[x-2,4],df_data.iloc[x-3,4]]
    
    df_data.iloc[x,17] = min(lista)
    df_data.iloc[x,18] = max(lista)
    df_data.iloc[x,19] = sum(lista)/len(lista) 
    df_data.iloc[x,20] = statistics.stdev(lista)

In [12]:
df_data

,TIMESTAMP,RECORD,BP_mbar_Max,BP_mbar_Min,Rain_mm_Tot,AirTC_Max,AirTC_Min,RH_Max,RH_Min,SlrkJ_Tot,...,TdC_Min,AirTC_Avg,RH_Avg,WS_ms_Avg,SlrkJ_Avg,Eto,Rain_mm_min,Rain_mm_max,Rain_mm_med,Rain_mm_dp
0,2015-02-24 22:00:00,13253,600.8486,600.3632,0.000,23.472,23.341,99.998,99.998,0.193834,...,23.34100,23.39763,99.99786,0.000000,0.000538,0.000298,0.000,0.000,0.000000,0.000000
1,2015-02-24 23:00:00,13254,600.7875,600.4396,0.000,23.472,23.260,99.998,99.998,0.137363,...,23.26000,23.36350,99.99786,0.000000,0.000382,0.000299,0.000,0.000,0.000000,0.000000
2,2015-02-25 00:00:00,13255,601.1295,600.7021,0.254,23.371,23.212,99.998,99.998,0.137363,...,23.21200,23.29213,99.99786,0.002500,0.000382,0.000299,0.000,0.000,0.000000,0.000000
3,2015-02-25 01:00:00,13256,601.1752,600.4365,0.000,23.402,23.292,99.998,99.998,0.202992,...,23.29200,23.34686,99.99786,0.023333,0.000564,0.000297,0.000,0.254,0.084667,0.146647
4,2015-02-25 02:00:00,13257,601.1813,600.6227,0.000,23.350,23.212,99.998,99.998,0.203755,...,23.21200,23.28190,99.99786,0.000000,0.000566,0.000300,0.000,0.254,0.084667,0.146647
5,2015-02-25 03:00:00,13258,601.2881,600.5769,0.000,23.312,23.222,99.998,99.998,0.114469,...,23.22200,23.26650,99.99786,0.102014,0.000318,0.000292,0.000,0.254,0.084667,0.146647
6,2015-02-25 04:00:00,13259,601.3248,600.6349,0.000,23.392,23.251,99.998,99.998,0.191545,...,23.25100,23.31461,99.99786,0.229097,0.000532,0.000283,0.000,0.000,0.000000,0.000000
7,2015-02-25 05:00:00,13260,601.3004,600.4945,0.000,23.402,23.191,99.998,99.998,0.206807,...,23.19100,23.31653,99.99786,0.335347,0.000574,0.000275,0.000,0.000,0.000000,0.000000
8,2015-02-25 06:00:00,13261,601.2241,600.4152,0.000,23.232,23.050,99.998,99.998,0.235806,...,23.05000,23.16971,99.99786,0.388333,0.000655,0.000273,0.000,0.000,0.000000,0.000000
9,2015-02-25 07:00:00,13262,601.6545,600.2869,0.000,23.441,23.010,99.998,99.998,85.739530,...,23.01000,23.15646,99.99786,0.704306,0.238165,0.000685,0.000,0.000,0.000000,0.000000
10,2015-02-25 08:00:00,13263,601.5568,600.2289,0.254,23.993,23.392,99.998,99.998,303.170000,...,23.39200,23.71913,99.99786,1.300486,0.842139,0.001063,0.000,0.000,0.000000,0.000000
11,2015-02-25 09:00:00,13264,601.8865,600.0671,13.208,23.944,23.572,99.998,99.998,221.811700,...,23.57200,23.71177,99.99786,1.772639,0.616144,0.000885,0.000,0.254,0.084667,0.146647
12,2015-02-25 10:00:00,13265,601.9139,599.9939,9.652,23.752,23.110,99.998,99.998,183.775400,...,23.11000,23.28486,99.99786,1.736111,0.510487,0.000822,0.000,13.208,4.487333,7.553387
13,2015-02-25 11:00:00,13266,601.8987,599.9908,2.540,23.993,23.171,99.998,99.908,602.703500,...,23.17100,23.65298,99.99687,2.024375,1.674176,0.001563,0.254,13.208,7.704667,6.692952
14,2015-02-25 12:00:00,13267,602.0482,600.1282,1.270,24.102,23.612,99.998,99.394,526.725900,...,23.61200,23.78568,99.94318,2.016874,1.463127,0.001523,2.540,13.208,8.466667,5.431880
15,2015-02-25 13:00:00,13268,602.3993,599.9939,0.000,25.716,24.093,99.998,91.750,1279.542000,...,23.98961,24.80779,96.96364,1.803680,3.554284,0.007919,1.270,9.652,4.487333,4.517584
16,2015-02-25 14:00:00,13269,602.6557,600.0183,0.000,27.200,25.656,93.246,85.375,1793.748000,...,24.19531,26.63342,88.38380,2.552917,4.982635,0.031169,0.000,2.540,1.270000,1.270000
17,2015-02-25 15:00:00,13270,602.5946,600.0366,0.000,27.900,26.558,88.886,80.894,1741.875000,...,23.52775,27.02860,84.34338,2.568334,4.838542,0.041150,0.000,1.270,0.423333,0.733235
18,2015-02-25 16:00:00,13271,602.7503,600.1313,0.000,27.490,26.726,87.222,80.832,1364.721000,...,23.65620,27.04526,83.77991,2.654375,3.790890,0.042923,0.000,0.000,0.000000,0.000000
19,2015-02-25 17:00:00,13272,602.2192,600.0824,0.000,27.107,26.546,86.390,82.689,482.410100,...,23.66985,26.74020,84.67317,2.124513,1.340028,0.032225,0.000,0.000,0.000000,0.000000
20,2015-02-25 18:00:00,13273,601.7888,600.0336,0.000,26.867,25.917,88.234,83.947,262.873300,...,23.64466,26.55503,85.84172,1.355972,0.730204,0.019892,0.000,0.000,0.000000,0.000000

In [ ]:
df_data.shape